//
//  Secrets.xcconfig
//  IntegrationExample
//
//  Created by Hozefa Indorewala on 28.12.22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MIMI_DEV_CLIENT_ID = YOUR_MIMI_DEV_CLIENT_ID
MIMI_DEV_CLIENT_SECRET = YOUR_MIMI_DEV_CLIENT_SECRET
