//
//  Secrets.xcconfig
//  IntegrationExample
//
//  Created by Hozefa Indorewala on 28.12.22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MIMI_CLIENT_ID = PARTNER_MIMI_CLIENT_ID
MIMI_CLIENT_SECRET = PARTNER_MIMI_CLIENT_SECRET
